<%= form_for(@gridimage, :html => { :multipart => true }) do |f| %>
          <% if @gridimage.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@gridimage.errors.count, "error") %> prohibited this gridimage from being saved:</h2>
        
              <ul>
              <% @gridimage.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
          <%= f.label :image %>
          <%= f.file_field :image %>
        
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
